.header-one-call-us-area {
  margin-right: 0;
  margin-left: 30px;
}

.header-one-call-icon {
  margin-right: 0;
  margin-left: 15px;
}

.header-mail {
  margin-left: 0px;
  margin-right: 34px;
}

.main-menu li.mega>ul.sub-menu li {
  text-align: right;
}

.main-menu ul.sub-menu li a {
  text-align: right;
}

.main-menu ul ul li.menu-item-has-children>a:after {
  transform: rotate(90deg);
  float: left;
}

.main-menu ul li>ul.sub-menu {
  right: 0;
}

.main-menu ul.sub-menu li ul.sub-menu {
  right: 100%;
  left: auto;
}

.main-menu li.mega ul.sub-menu li ul.sub-menu {
  left: 100%;
  right: 0;
}

/* hero section*/
.header-mail>i {
  margin-right: 0px;
  margin-left: 6px;
}

.tronix-hero-image-wrapper {
  text-align: left;
}

.hero-button .theme-btns {
  margin-right: 0px;
  margin-left: 45px;
}

.slide-subtitle,
.about-small-stitle {
  padding-left: 0px;
  padding-right: 23px;
}

.slide-subtitle:before,
.about-small-stitle:before {
  right: 0;
  left: auto;
}

/* counter */
.tronix-counter-icon {
  margin-right: 0;
  margin-left: 25px;
}

/* testimonial */
.tronix-counter-icon {

  margin-right: 0;
  margin-left: 25px;
}

.testimonial-item-box {
  text-align: right;
}

.about-button a.theme-btns {
  margin-right: 0px;
  margin-left: 40px;
}

.about_content {
  text-align: right;
}

.customar-service-image {
  text-align: left;
}

.play-btn {
  margin-right: 0px;
  margin-left: 15px;
}

/* blog */
.news-block-one .news-inner-box .lower-content {
  text-align: right;
}

.news-block-one .news-inner-box .lower-content .post-info li {
  margin-left: 25px;
  padding-left: 20px;
}

.foote-latest-post-imgage {
  margin-right: 0px;
  margin-left: 20px;
}

.footer-one-icon {
  margin-right: 0px;
  margin-left: 25px;
}

.about-des ul li:after {
  right: 0;
}

.about-des ul li {
  padding-left: 0px;
  padding-right: 15px;
}

/* Home Two */
.button.tronix-canva-open {
  margin-left: 0px;
  margin-right: 20px;
}

.header-two-links ul li {
  margin-left: 20px;
  padding-right: 0;
  padding-left: 20px;
  border-left: 1px solid #558EFF;
  border-right: none;
  margin-right: 0;
}

.header-two-social span {
  margin-right: 0;
  margin-left: 20px;
}

.header-two-social a:not(:last-child) {
  margin: 0;
}

.header-two-social a:not(:first-child) {
  margin-left: 20px;
}

.play-btn-two {
  margin-right: 0px;
  margin-left: 20px;
}

.pricing-icon:after {
  left: auto;
  right: 30px;
}

.priceing-list ul li {
  padding-left: 0px;
  padding-right: 40px;

}

.priceing-list ul li:after {
  left: auto;
  right: 0;
}

.news-block-two .news-inner-box-two .lower-content .post-info li {
  margin-right: 0;
  padding-left: 20px;
  margin-left: 20px;
}

.footer-two-content-wrp .two:last-child {
  padding-left: 0;
}

.footer-two-content-wrp .two:first-child {
  padding-left: 30px;
  padding-right: 0px;
}

.footer-two-content-wrp .two {
  border-left: 1px solid #152B54;
  border-right: none;
}

.header-two-social {
  text-align: left;
}

.header-two-links ul li i {
  margin-right: 0;
  margin-left: 6px;
}

.testimonial-two-arrow-wrapper {
  left: -120px;
  right: auto;
}

.tabs-section-wrapper .nav-pills {
  margin-right: 0;
  margin-left: 40px;
}

.header-mail>i {
  margin-right: 0px;
  margin-left: 6px;
}

.tronix-sopport-list-icon {
  margin-right: 0px;
  margin-left: 30px;
}

.theme-button i {
  margin-left: 0px;
  margin-right: 5px;
}

.footer-one-icon-box {
  border-right: none;
  border-left: 1px solid #152B54;
}

.footer-one-icon-box-wrapper [class*='col-']:first-child .footer-one-icon-box {
  padding-right: 0;
}

.footer-one-icon-box-wrapper [class*='col-']:last-child .footer-one-icon-box {
  padding-left: 0;
  padding-right: 30px;
}

.tronix-list-icon {
  margin-right: 0px;
  margin-left: 10px;
}

.tronix-icon {
  margin-right: 0;
  margin-left: 25px;
}

.tronix-icon-box {
  border-left: 1px solid var(--border-color);
  border-right: none;
}

.page-layout-right-sidebar .all-posts-wrapper,
.page-layout-right-sidebar .post-pagination {
  padding-right: 0px;
  padding-left: 25px;
}

.content-area button[type="submit"].search-submit.has-icon,
.widget.widget_search button[type="submit"].has-icon {
  right: auto;
  left: 0;
}

.tronixcore-widget-post-thum li img {
  margin-right: 0px;
  margin-left: 20px;
}

.tronixcore-widget-post-thum-content .recent-widget-date i {
  margin-right: 0px;
  margin-left: 8px;
  ;
}

.post-meta ul li {
  margin-right: 0;
  margin-left: 15px;
}

.post-meta ul li i {
  margin-right: 0;
  margin-left: 5px;
}

button.wp-block-search__button.wp-element-button,
.widget.widget_search .search-button button.search-submit {
  margin-right: 0;
  right: auto;
  left: 0;
}

.layout-right-sidebar article.post-single,
.layout-right-sidebar .comments-area {
  padding-right: 0;
  margin-left: 25px;
}

.tronix-post-navication-thum .nav-links .nav-thumb {
  margin-right: 0;
  margin-left: 30px;
}

.tronix-post-navication-thum .nav-links .nav-next.post-thum-nav .nav-thumb {
  margin-left: 0px;
  margin-right: 30px;
}

.author-info-left {
  margin-right: 0;
  margin-left: 30px;
}

[dir='rtl'] .rtl .woo-single-post .slick-slide {
  float: left;
}

[dir='rtl'] .rtl .woo-single-post .slick-list {
  direction: ltr
}

.about-des ul {
  padding-right: 0;
}

.about-des ul li:after {
  left: auto;
  right: 0;
}

.project-arrow-wrapper {
  align-items: center;
  flex-direction: row-reverse;
}

.tronix-service-three-item .tronix-service-three-icon::before {
  right: 145px;
  left: auto;
  transform: rotate(-138deg);
}

.tronix-service-three-item .tronix-service-three-icon::after {
  background-image: url(./assets/image/rtl-shape.png);
  right: 169px;
  left: auto;
}

.news-block-one .post-info.clearfix,
.news-block-two .post-info.clearfix {
  padding-right: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  text-align: right;
}

.wpcf7-spinner {
  float: left;
}

.theme-button i {
  margin-left: 0px;
  margin-right: 5px;
  transform: rotate(-180deg);
}

.footer-one-date i {
  margin-right: 0;
  margin-left: 8px;
}

.tronix-contact-button.button {
  text-align: right;
}

.header-four-call-icon {
  margin-right: 0;
  margin-left: 15px;
}

.tronix-slider-wrapper .slick-dots {
  left: 250px;
  right: auto;
}

.header-five-logo {
  right: 0;
  background: url(./assets/image/logo-bg5.svg);
  left: auto;
}

.button.search-open {
  margin-right: 0;
  margin-left: 20px;
}

.footer-v5-blog-img img {
  margin-right: 0;
  margin-left: 20px;
}

.service-page-quick-link ul li a i,
.footer-page-quick-link ul li a i {
  margin-right: 0;
  margin-left: 10px;
}

.header-six-contact-wrp {
  margin-right: 0;
  margin-left: 80px;
}

.header-six-contact-icon {
  margin-right: 0;
  margin-left: 20px;
}

.header-six-contact-wrp:last-child {
  margin-right: 0;
  margin-left: 0;
}

.footer-v5-widget-title:before {
  left: auto;
  right: 0;
}

.footer-v5-widget-title:after {
  right: 45px;
  left: auto;
}

.footer-v5-widget-title {
  text-align: right;
}

.footer-v5-top-icon {
  margin-right: 0;
  margin-left: 15px;
}

.footer-v5-about-des {
  text-align: right;
}

.footer-one-social-widget.footer-v5-social {
  text-align: right;
}

.faq-accordion .accordion-button::after {
  left: 30px;
  right: auto;
}

.footer-one-recent-post-widget {
  margin-right: 30px;
}

.header-six-social a {
  margin-right: 0;
  margin-left: 25px;
}

.header-six-social a:last-child {
  margin-right: 0;
  margin-left: 0;
}

.header-six-links ul li {
  margin-right: 0;
  margin-left: 30px;
}

.header-six-links ul li i {
  margin-right: 0;
  margin-left: 8px;
}

.elementor-widget-wp-widget-nav_menu .menu li a:after {
  right: auto;
  left: 18px;
  transform: rotate(-180deg);
}

.team-info-wrapper-area {
  margin-left: 0;
  margin-right: 40px;
}

.team-details-icon {
  margin-right: 0;
  margin-left: 20px;
}

.post-pagination ul li a i,
.page-links a i,
.comments-pagination ul li a i {
  transform: rotate(-180deg);
}

.contact-info-list-icon {
  margin-right: 0;
  margin-left: 15px;
}